# =======================================
# Folder ignore
# =======================================
**/db/
**/incremental_db/
**/output_files/
**/simulation/

# =======================================
# Temporal files
# =======================================
*.bak
*.rpt
*.summary
*.smsg
*.done
*.pin
*.jdi
*.jditmp
*.log
*.tmp
*.qmsg
*.cmp
*.map
*.fit
*.sta
*.pof
*.sof
*.pof
*.jic
*.hif
*.ddb
*.sdc.log
*.csv
*.eqn
*.tan
*.qws
*.txt
*.html
*.rdb
*.cdb
*.hdb
*.kpt
*.sig
*.hbdb
*.ammdb
*.idb
*.rpt
*.rcfdb
*.dfp
*.rdp
*.vpr
*.tsc
*.sta_cmp.*
*.out

# =======================================
# Simulation files quartus (Questa/ModelSim)
# =======================================
*.svo
*.sft
*.wlf
*.vcd
*.mti
*.vstf
transcript
vsim.wlf
work/

# =======================================
# System files
# =======================================
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/


# =======================================
# pinout generated automatically
# =======================================
*c5_pin_model_dump.txt
